body{
					font-family: Roboto Medium;
									}
	p{
					font-family: Roboto Medium;
									}
	h1,.h1{
					font-family: Roboto Medium;
							font-size: 41px;
							}
	h2,.h2{
					font-family: Roboto Medium;
							font-size: 31px;
							}
	h3,.h3{
					font-family: Roboto Medium;
							font-size: 27px;
							}
	h4,.h4{
					font-family: Roboto Medium;
							font-size: 20px;
							}
	h5,.h5{
					font-family: Roboto Medium;
							font-size: 18px;
							}
	h6,.h6{
					font-family: Roboto Medium;
							font-size: 16px;
							}
	a{
					font-family: Roboto Medium;
									}




	
	.email a i {
    padding-right: 7px;
}
.phone a i {
    padding-right: 2px;
}
.phone, .email {
    display: inline-block;
    padding-right: 23px;
}
.header-top a {
    color: #fff;
}
.header-top i.fa {
    color: #fff;
}
.header-top {
    background: #c4a2e2;
    padding: 10px 0px;
}
.navbar-custom {
    padding: 0px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -4px 14px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, -4px 14px 15px 5px rgba(0,0,0,0);
}
ul.nav.navbar-nav {
    margin-top: 7px;
}
.footer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.is-card.package .top-half {
    width: 100%;
    min-height: 150px;
    background-image: url(../uploads/2019/05/cloud-bg_2084551605.png);
    background-size: contain;
    background-repeat: repeat;
    background-position: top;
    background-repeat-y: no-repeat;
    position: relative;
}
.is-card.package .price-tag {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #39b2e6;
    color: #fff;
    padding: 4px 20px;
    border: 14px solid #fff;
    border-radius: 50%;
}
.is-card.package .price-tag span.amount, .is-card.package .price-tag span.duration {
    display: block;
    color: #fff;
}
.is-card.package .top-half img.server-thumb {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 75px;
}

	
